<h1>Big O data</h1>

<input type="number" [(ngModel)]="input">
<button type="button" (click)="process(input)">Test Input</button>


<div class="grid-container">

  <div class="grid-item">
    <h2>Logarithmic chart</h2>
    <button type="button" (click)="logChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="logChart">{{ logChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of logarithmicTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>

  <div class="grid-item">
    <h2>Linear chart</h2>
    <button type="button" (click)="linChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="linChart">{{ linChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of linearTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>

