<h1>Big O Notation</h1>

<input type="number" [(ngModel)]="input">
<button type="button" (click)="process(input)">Test Input</button>

<div class="grid-container">
  <div class="grid-item">
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*5ZLci3SuR0zM_QlZOADv8Q.jpeg" width="600" height="400">
  </div>
  <div class="grid-item">
    <h2><a href="https://www.desmos.com/calculator/k5hewotcob">Big O chart</a></h2>
    <iframe src="https://www.desmos.com/calculator/k5hewotcob" width="600" height="300"></iframe>
  </div>
</div>

<h2><u>Test Cases</u></h2>
<div class="grid-container">
  <div class="grid-item">
    <h2>Logarithmic O(log n)</h2>
    <button type="button" (click)="logChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="logChart">{{ logChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of logarithmicTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>

  <div class="grid-item">
    <h2>Linear O(n)</h2>
    <button type="button" (click)="linChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="linChart">{{ linChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of linearTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>

  <div class="grid-item">
    <h2>Log Linear O(n log n)</h2>
    <button type="button" (click)="logLinChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="logLinChart">{{ logLinChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of logLinearTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>

  <div class="grid-item">
    <h2>Quadratic O(n^2)</h2>
    <button type="button" (click)="quadraticChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="quadraticChart">{{ quadraticChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of quadraticTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>
</div>

<h2><u>"In the Wild" Case</u></h2>
<div class="grid-container">
  <div class="grid-item">
    <h2>Dollars Pre Binary O(2973(n))</h2>
    <button type="button" (click)="dollarsPreBinaryChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="dollarsPreBinaryChart">{{ dollarsPreBinaryChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of dollarsPreBinaryTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>

  <div class="grid-item">
    <h2>Dollars Binary O(12(n))</h2>
    <button type="button" (click)="dollarsBinaryChart.resetZoom()">Reset Zoom</button>
    <div class="chart-container">
      <canvas id="dollarsBinaryChart">{{ dollarsBinaryChart }}</canvas>
    </div>
    <table>
      <th>Value</th>
      <th>Process Time</th>
      <th>No. of Operations</th>
      <tr class="checker" *ngFor="let result of dollarsBinaryTestResults">
        <td>{{result.input}}</td>
        <td>{{result.time}}</td>
        <td>{{result.operations}}</td>
      </tr>
    </table>
  </div>
</div>

